<%= render 'shared/slim_fast_navigation' %>

<% if @short_domain %>
  <h1>Short URLs for <%= @short_domain.domain %></h1>
<% else %>
  <h1>Short URLs</h1>
<% end %>

<% if @short_urls.count > 0 %>
  <%= render 'short_urls_table', :short_urls => @short_urls %>

  <br />
<% else %>
  <p>
    There are no short URLs.
  </p>
<% end %>

<%= link_to 'New Short URL', new_short_url_path %>
